[submodule "3p/src/doctest"]
	path = 3p/src/doctest
	url = https://github.com/onqtam/doctest.git
	branch = master
[submodule "3p/src/Clara"]
	path = 3p/src/Clara
	url = https://github.com/catchorg/Clara
	branch = master
[submodule "3p/src/fmt"]
	path = 3p/src/fmt
	url = https://github.com/fmtlib/fmt
	branch = master
